USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 4/20/2025 12:02:06 AM ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'D:\BÀI TẬP\HQTCSDL\BT3\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'D:\BÀI TẬP\HQTCSDL\BT3\QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[bomon]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bomon](
	[mabm] [nvarchar](15) NOT NULL,
	[tenbm] [nvarchar](50) NULL,
	[makhoa] [nvarchar](15) NULL,
 CONSTRAINT [PK_bomon] PRIMARY KEY CLUSTERED 
(
	[mabm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diem]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem](
	[id] [nvarchar](15) NOT NULL,
	[id_dk] [nvarchar](15) NULL,
	[diem] [float] NULL,
 CONSTRAINT [PK_diem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dkmh]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dkmh](
	[id_dk] [nvarchar](15) NOT NULL,
	[malophp] [nvarchar](15) NULL,
	[masv] [nvarchar](15) NULL,
	[diemthi] [float] NULL,
	[phantramthi] [float] NULL,
 CONSTRAINT [PK_dkmh] PRIMARY KEY CLUSTERED 
(
	[id_dk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giaovien]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giaovien](
	[magv] [nvarchar](15) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
	[mabm] [nvarchar](15) NULL,
 CONSTRAINT [PK_giaovien] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GVCN]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GVCN](
	[malop] [nvarchar](15) NOT NULL,
	[magv] [nvarchar](15) NOT NULL,
	[HK] [int] NOT NULL,
 CONSTRAINT [PK_GVCN] PRIMARY KEY CLUSTERED 
(
	[malop] ASC,
	[magv] ASC,
	[HK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa](
	[makhoa] [nvarchar](15) NOT NULL,
	[tenkhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_khoa] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop](
	[malop] [nvarchar](15) NOT NULL,
	[tenlop] [nvarchar](50) NULL,
 CONSTRAINT [PK_lop] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lophocphan]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lophocphan](
	[malophp] [nvarchar](15) NOT NULL,
	[tenlophocphan] [nvarchar](50) NULL,
	[HK] [int] NULL,
	[mamon] [nvarchar](15) NULL,
	[magv] [nvarchar](15) NULL,
 CONSTRAINT [PK_lophocphan] PRIMARY KEY CLUSTERED 
(
	[malophp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lopsv]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lopsv](
	[malop] [nvarchar](15) NOT NULL,
	[masv] [nvarchar](15) NOT NULL,
	[chucvu] [nvarchar](15) NULL,
 CONSTRAINT [PK_lopsv] PRIMARY KEY CLUSTERED 
(
	[malop] ASC,
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[mamon] [nvarchar](15) NOT NULL,
	[tenmon] [nvarchar](50) NULL,
	[stc] [int] NULL,
 CONSTRAINT [PK_monhoc] PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinhvien]    Script Date: 4/20/2025 12:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinhvien](
	[masv] [nvarchar](15) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
 CONSTRAINT [PK_Sinhvien] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bomon]  WITH CHECK ADD  CONSTRAINT [FK_bomon_khoa] FOREIGN KEY([makhoa])
REFERENCES [dbo].[khoa] ([makhoa])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[bomon] CHECK CONSTRAINT [FK_bomon_khoa]
GO
ALTER TABLE [dbo].[diem]  WITH CHECK ADD  CONSTRAINT [FK_diem_id_dk] FOREIGN KEY([id_dk])
REFERENCES [dbo].[dkmh] ([id_dk])
GO
ALTER TABLE [dbo].[diem] CHECK CONSTRAINT [FK_diem_id_dk]
GO
ALTER TABLE [dbo].[dkmh]  WITH CHECK ADD  CONSTRAINT [FK_dkmh_malophp] FOREIGN KEY([malophp])
REFERENCES [dbo].[lophocphan] ([malophp])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[dkmh] CHECK CONSTRAINT [FK_dkmh_malophp]
GO
ALTER TABLE [dbo].[dkmh]  WITH CHECK ADD  CONSTRAINT [FK_dkmh_masv] FOREIGN KEY([masv])
REFERENCES [dbo].[Sinhvien] ([masv])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[dkmh] CHECK CONSTRAINT [FK_dkmh_masv]
GO
ALTER TABLE [dbo].[giaovien]  WITH CHECK ADD  CONSTRAINT [FK_giaovien_bomon] FOREIGN KEY([mabm])
REFERENCES [dbo].[bomon] ([mabm])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[giaovien] CHECK CONSTRAINT [FK_giaovien_bomon]
GO
ALTER TABLE [dbo].[GVCN]  WITH CHECK ADD  CONSTRAINT [FK_GVCN_lop] FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GVCN] CHECK CONSTRAINT [FK_GVCN_lop]
GO
ALTER TABLE [dbo].[lophocphan]  WITH CHECK ADD  CONSTRAINT [FK_lophocphan_magv] FOREIGN KEY([magv])
REFERENCES [dbo].[giaovien] ([magv])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[lophocphan] CHECK CONSTRAINT [FK_lophocphan_magv]
GO
ALTER TABLE [dbo].[lophocphan]  WITH CHECK ADD  CONSTRAINT [FK_lophocphan_mamon] FOREIGN KEY([mamon])
REFERENCES [dbo].[monhoc] ([mamon])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[lophocphan] CHECK CONSTRAINT [FK_lophocphan_mamon]
GO
ALTER TABLE [dbo].[lopsv]  WITH CHECK ADD  CONSTRAINT [FK_lopsv_malop] FOREIGN KEY([malop])
REFERENCES [dbo].[lop] ([malop])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[lopsv] CHECK CONSTRAINT [FK_lopsv_malop]
GO
ALTER TABLE [dbo].[lopsv]  WITH CHECK ADD  CONSTRAINT [FK_lopsv_masv] FOREIGN KEY([masv])
REFERENCES [dbo].[Sinhvien] ([masv])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[lopsv] CHECK CONSTRAINT [FK_lopsv_masv]
GO
ALTER TABLE [dbo].[giaovien]  WITH CHECK ADD  CONSTRAINT [CK_giaovien_ngaysinh] CHECK  (([ngaysinh]<=getdate()))
GO
ALTER TABLE [dbo].[giaovien] CHECK CONSTRAINT [CK_giaovien_ngaysinh]
GO
ALTER TABLE [dbo].[Sinhvien]  WITH CHECK ADD  CONSTRAINT [CK_Sinhvien_ngaysinh] CHECK  (([ngaysinh]<=getdate()))
GO
ALTER TABLE [dbo].[Sinhvien] CHECK CONSTRAINT [CK_Sinhvien_ngaysinh]
GO
USE [master]
GO
